<h1>Thank you for creating the "<%= @game_name %>" custom game on Weather Together!</h1>
<p>At least one person you invited to play does not yet have account on Weather Together. Their emails are below</p>
<%= @missing_accounts.join(", \n") %>
<br>
<p>After they have made an account, you can reinvite them to your game.</p><br>
<p>Thank you for playing!</p>
<h3>The Weather Together Team</h3>