---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-05&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999964'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/06/2024 23:20:36
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 25034e24063a4614dee6725bf06b61ef
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1704583205,"localtime":"2024-01-06
        15:20"},"forecast":{"forecastday":[{"date":"2024-01-05","date_epoch":1704412800,"day":{"maxtemp_c":17.1,"maxtemp_f":62.8,"mintemp_c":2.4,"mintemp_f":36.3,"avgtemp_c":8.6,"avgtemp_f":47.5,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":31,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/119.png","code":1006},"uv":4.0},"astro":{"sunrise":"07:00
        AM","sunset":"04:46 PM","moonrise":"01:09 AM","moonset":"12:10 PM","moon_phase":"Waning
        Crescent","moon_illumination":42},"hour":[{"time_epoch":1704441600,"time":"2024-01-05
        00:00","temp_c":4.7,"temp_f":40.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":56,"wind_dir":"ENE","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":30,"cloud":6,"feelslike_c":3.9,"feelslike_f":39.1,"windchill_c":3.9,"windchill_f":39.1,"heatindex_c":4.7,"heatindex_f":40.5,"dewpoint_c":-11.1,"dewpoint_f":12.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.1,"gust_kph":9.8,"uv":1.0},{"time_epoch":1704445200,"time":"2024-01-05
        01:00","temp_c":4.3,"temp_f":39.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":55,"wind_dir":"NE","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":32,"cloud":16,"feelslike_c":3.4,"feelslike_f":38.1,"windchill_c":3.4,"windchill_f":38.1,"heatindex_c":4.3,"heatindex_f":39.7,"dew[...]
