---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-07&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999992'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/08/2024 04:12:29
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4a725d15e7c952916181d4603a887049
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704687117,"localtime":"2024-01-08
        0:11"},"forecast":{"forecastday":[{"date":"2024-01-07","date_epoch":1704585600,"day":{"maxtemp_c":31.5,"maxtemp_f":88.7,"mintemp_c":20.9,"mintemp_f":69.7,"avgtemp_c":25.2,"avgtemp_f":77.4,"maxwind_mph":8.7,"maxwind_kph":14.0,"totalprecip_mm":6.96,"totalprecip_in":0.27,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":79,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Light
        rain shower","icon":"//cdn.weatherapi.com/weather/64x64/day/353.png","code":1240},"uv":10.0},"astro":{"sunrise":"05:13
        AM","sunset":"06:14 PM","moonrise":"01:22 AM","moonset":"02:39 PM","moon_phase":"Waning
        Crescent","moon_illumination":23},"hour":[{"time_epoch":1704600000,"time":"2024-01-07
        00:00","temp_c":23.4,"temp_f":74.1,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":15,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud":48,"feelslike_c":25.5,"feelslike_f":77.8,"windchill_c":23.4,"windchill_f":74.2,"heatindex_c":25.5,"heatindex_f":77.8,"dewpoint_c":20.5,"dewpoint_f":68.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.7,"gust_kph":12.3,"uv":1.0},{"time_epoch":1704603600,"time":"2024-01-07
        01:00","temp_c":22.4,"temp_f":72.3,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":26,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":89,"cloud":72,"feelslike_c":24.8,"feelslike_f":76.6,"windchill_c":22.4,"windchill_f":72.3,"heatindex_c":24.8,"heatindex_f":76[...]
