---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/11/2024 00:57:25
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3b17123dfaf5bfb93c489c8ad877a842
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1704934610,"localtime":"2024-01-10
        16:56"},"forecast":{"forecastday":[{"date":"2024-01-10","date_epoch":1704844800,"day":{"maxtemp_c":13.2,"maxtemp_f":55.8,"mintemp_c":-1.1,"mintemp_f":30.1,"avgtemp_c":6.4,"avgtemp_f":43.6,"maxwind_mph":6.7,"maxwind_kph":10.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":32,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"07:00
        AM","sunset":"04:51 PM","moonrise":"06:38 AM","moonset":"03:56 PM","moon_phase":"Waning
        Crescent","moon_illumination":3},"hour":[{"time_epoch":1704873600,"time":"2024-01-10
        00:00","temp_c":1.1,"temp_f":34.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.1,"wind_kph":1.8,"wind_degree":46,"wind_dir":"NE","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":30,"cloud":0,"feelslike_c":1.1,"feelslike_f":34.0,"windchill_c":1.1,"windchill_f":34.0,"heatindex_c":1.1,"heatindex_f":34.0,"dewpoint_c":-14.3,"dewpoint_f":6.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":2.3,"gust_kph":3.8,"uv":1.0},{"time_epoch":1704877200,"time":"2024-01-10
        01:00","temp_c":0.7,"temp_f":33.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.9,"wind_kph":1.4,"wind_degree":328,"wind_dir":"NNW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":31,"cloud":0,"feelslike_c":0.7,"feelslike_f":33.2,"windchill_c":0.7,"windchill_f":33.2,"heatindex_c":0.7,"heatindex_f":33.2,"dew[...]
