---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-02-02&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '999551'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/03/2024 01:10:16
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9169b3ba7c3bedcc8ac528335030b9f5
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1706922561,"localtime":"2024-02-02
        21:09"},"forecast":{"forecastday":[{"date":"2024-02-02","date_epoch":1706832000,"day":{"maxtemp_c":33.6,"maxtemp_f":92.5,"mintemp_c":20.4,"mintemp_f":68.8,"avgtemp_c":25.4,"avgtemp_f":77.6,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":12.73,"totalprecip_in":0.5,"totalsnow_cm":0.0,"avgvis_km":9.6,"avgvis_miles":5.0,"avghumidity":78,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        light rain with thunder","icon":"//cdn.weatherapi.com/weather/64x64/day/386.png","code":1273},"uv":10.0},"astro":{"sunrise":"05:28
        AM","sunset":"06:14 PM","moonrise":"11:14 PM","moonset":"11:33 AM","moon_phase":"Last
        Quarter","moon_illumination":59},"hour":[{"time_epoch":1706846400,"time":"2024-02-02
        00:00","temp_c":21.9,"temp_f":71.4,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":27,"wind_dir":"NNE","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":93,"cloud":28,"feelslike_c":21.9,"feelslike_f":71.4,"windchill_c":21.9,"windchill_f":71.4,"heatindex_c":24.5,"heatindex_f":76.1,"dewpoint_c":20.7,"dewpoint_f":69.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.1,"gust_kph":16.3,"uv":1.0},{"time_epoch":1706850000,"time":"2024-02-02
        01:00","temp_c":22.4,"temp_f":72.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":27,"wind_dir":"NNE","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":91,"cloud":87,"feelslike_c":24.8,"feelslike_f":76.6,"windchill_c":22.4,"windchill_f":72.3,"heatindex_c[...]
