---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/11/2024 00:57:20
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8b0df290236df185357311bd45328bb3
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704934606,"localtime":"2024-01-10
        20:56"},"forecast":{"forecastday":[{"date":"2024-01-10","date_epoch":1704844800,"day":{"maxtemp_c":33.1,"maxtemp_f":91.5,"mintemp_c":21.1,"mintemp_f":69.9,"avgtemp_c":26.2,"avgtemp_f":79.1,"maxwind_mph":10.7,"maxwind_kph":17.3,"totalprecip_mm":1.58,"totalprecip_in":0.06,"totalsnow_cm":0.0,"avgvis_km":7.5,"avgvis_miles":4.0,"avghumidity":75,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"05:15
        AM","sunset":"06:14 PM","moonrise":"04:03 AM","moonset":"05:46 PM","moon_phase":"Waning
        Crescent","moon_illumination":3},"hour":[{"time_epoch":1704859200,"time":"2024-01-10
        00:00","temp_c":21.8,"temp_f":71.3,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":36,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":95,"cloud":47,"feelslike_c":21.9,"feelslike_f":71.3,"windchill_c":21.9,"windchill_f":71.3,"heatindex_c":24.5,"heatindex_f":76.0,"dewpoint_c":21.0,"dewpoint_f":69.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":11.3,"gust_kph":18.1,"uv":1.0},{"time_epoch":1704862800,"time":"2024-01-10
        01:00","temp_c":21.5,"temp_f":70.7,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":28,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":95,"cloud":48,"feelslike_c":21.5,"feelslike_f":70.8,"windchill_c":21.5,"windchill_f":70.8,"heatindex_c":24.3,"heatindex_f":75.7[...]
