---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-02-02&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '999551'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 02/03/2024 01:10:16
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a24271760df29415cda4b9e38811f1ca
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1706922563,"localtime":"2024-02-02
        17:09"},"forecast":{"forecastday":[{"date":"2024-02-02","date_epoch":1706832000,"day":{"maxtemp_c":14.9,"maxtemp_f":58.9,"mintemp_c":7.2,"mintemp_f":44.9,"avgtemp_c":11.6,"avgtemp_f":52.9,"maxwind_mph":6.7,"maxwind_kph":10.8,"totalprecip_mm":0.27,"totalprecip_in":0.01,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":65,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"06:49
        AM","sunset":"05:15 PM","moonrise":"No moonrise","moonset":"10:37 AM","moon_phase":"Last
        Quarter","moon_illumination":59},"hour":[{"time_epoch":1706860800,"time":"2024-02-02
        00:00","temp_c":10.2,"temp_f":50.3,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":6.7,"wind_kph":10.8,"wind_degree":326,"wind_dir":"NNW","pressure_mb":1005.0,"pressure_in":29.69,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":83,"cloud":52,"feelslike_c":9.0,"feelslike_f":48.2,"windchill_c":9.0,"windchill_f":48.2,"heatindex_c":10.2,"heatindex_f":50.3,"dewpoint_c":7.5,"dewpoint_f":45.6,"will_it_rain":0,"chance_of_rain":45,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.7,"gust_kph":12.4,"uv":1.0},{"time_epoch":1706864400,"time":"2024-02-02
        01:00","temp_c":10.1,"temp_f":50.1,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":318,"wind_dir":"NW","pressure_mb":1005.0,"pressure_in":29.69,"precip_mm":0.03,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud":85,"feelslike_c":9.1,"feelslike_f":48.3,"windchill_c":9.1,"windchill_f":48.3,"heatindex_c":[...]
