---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-08&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999915'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/09/2024 01:10:50
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e169e8589acb931825cd8cae659bbf7d
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704762617,"localtime":"2024-01-08
        21:10"},"forecast":{"forecastday":[{"date":"2024-01-08","date_epoch":1704672000,"day":{"maxtemp_c":33.5,"maxtemp_f":92.3,"mintemp_c":20.1,"mintemp_f":68.2,"avgtemp_c":26.0,"avgtemp_f":78.8,"maxwind_mph":7.6,"maxwind_kph":12.2,"totalprecip_mm":1.63,"totalprecip_in":0.06,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":71,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"05:14
        AM","sunset":"06:14 PM","moonrise":"02:08 AM","moonset":"03:40 PM","moon_phase":"Waning
        Crescent","moon_illumination":15},"hour":[{"time_epoch":1704686400,"time":"2024-01-08
        00:00","temp_c":23.1,"temp_f":73.6,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":6,"wind_dir":"N","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":86,"cloud":30,"feelslike_c":25.3,"feelslike_f":77.5,"windchill_c":23.1,"windchill_f":73.6,"heatindex_c":25.3,"heatindex_f":77.5,"dewpoint_c":20.7,"dewpoint_f":69.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.1,"gust_kph":13.0,"uv":1.0},{"time_epoch":1704690000,"time":"2024-01-08
        01:00","temp_c":22.6,"temp_f":72.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":2,"wind_dir":"N","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":88,"cloud":14,"feelslike_c":24.9,"feelslike_f":76.8,"windchill_c":22.6,"windchill_f":72.7,"heatindex_c":24.9,"heatindex_f":76.8,"[...]
