---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-07&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999992'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/08/2024 04:12:30
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 77026d63c5666bb8be438d8ae527fa53
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1704687117,"localtime":"2024-01-07
        20:11"},"forecast":{"forecastday":[{"date":"2024-01-07","date_epoch":1704585600,"day":{"maxtemp_c":12.7,"maxtemp_f":54.8,"mintemp_c":2.5,"mintemp_f":36.6,"avgtemp_c":7.7,"avgtemp_f":45.8,"maxwind_mph":24.4,"maxwind_kph":39.2,"totalprecip_mm":0.04,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":30,"daily_will_it_rain":0,"daily_chance_of_rain":45,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"07:00
        AM","sunset":"04:48 PM","moonrise":"03:17 AM","moonset":"01:14 PM","moon_phase":"Waning
        Crescent","moon_illumination":23},"hour":[{"time_epoch":1704614400,"time":"2024-01-07
        00:00","temp_c":7.3,"temp_f":45.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.1,"wind_kph":1.8,"wind_degree":357,"wind_dir":"N","pressure_mb":1007.0,"pressure_in":29.73,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":35,"cloud":9,"feelslike_c":7.3,"feelslike_f":45.2,"windchill_c":7.3,"windchill_f":45.2,"heatindex_c":7.3,"heatindex_f":45.2,"dewpoint_c":-7.2,"dewpoint_f":19.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":2.0,"gust_kph":3.3,"uv":1.0},{"time_epoch":1704618000,"time":"2024-01-07
        01:00","temp_c":7.4,"temp_f":45.4,"is_day":0,"condition":{"text":"Patchy rain
        possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":354,"wind_dir":"N","pressure_mb":1007.0,"pressure_in":29.73,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":36,"cloud":88,"feelslike_c":7.3,"feelslike_f":45.1,"windchill_c":7.3,"windchill_f":45.1,"heatindex_c":7.4[...]
