---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-06&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/07/2024 08:22:26
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d9ce5054adc2bd97b3b14e8a965b9869
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704615714,"localtime":"2024-01-07
        4:21"},"forecast":{"forecastday":[{"date":"2024-01-06","date_epoch":1704499200,"day":{"maxtemp_c":30.9,"maxtemp_f":87.6,"mintemp_c":20.2,"mintemp_f":68.4,"avgtemp_c":24.5,"avgtemp_f":76.0,"maxwind_mph":7.6,"maxwind_kph":12.2,"totalprecip_mm":0.52,"totalprecip_in":0.02,"totalsnow_cm":0.0,"avgvis_km":7.0,"avgvis_miles":4.0,"avghumidity":82,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Light
        rain shower","icon":"//cdn.weatherapi.com/weather/64x64/day/353.png","code":1240},"uv":10.0},"astro":{"sunrise":"05:12
        AM","sunset":"06:14 PM","moonrise":"12:40 AM","moonset":"01:43 PM","moon_phase":"Waning
        Crescent","moon_illumination":32},"hour":[{"time_epoch":1704513600,"time":"2024-01-06
        00:00","temp_c":21.3,"temp_f":70.3,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":3.6,"wind_kph":5.8,"wind_degree":12,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":96,"cloud":45,"feelslike_c":21.3,"feelslike_f":70.3,"windchill_c":21.3,"windchill_f":70.3,"heatindex_c":24.2,"heatindex_f":75.6,"dewpoint_c":20.6,"dewpoint_f":69.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":7.4,"gust_kph":12.0,"uv":1.0},{"time_epoch":1704517200,"time":"2024-01-06
        01:00","temp_c":21.3,"temp_f":70.3,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":0,"wind_dir":"N","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":96,"cloud":52,"feelslike_c":21.3,"feelslike_f":70.3,"windchill_c":21.3,"windchill_f":70.3,"heatindex_c":24.2,"heatindex_f":75.6,"d[...]
