---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-06&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '5000000'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/07/2024 01:35:28
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c2c54184989231daca6a8624dea78e9a
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1704591297,"localtime":"2024-01-06
        17:34"},"forecast":{"forecastday":[{"date":"2024-01-06","date_epoch":1704499200,"day":{"maxtemp_c":14.0,"maxtemp_f":57.2,"mintemp_c":1.8,"mintemp_f":35.2,"avgtemp_c":8.0,"avgtemp_f":46.3,"maxwind_mph":6.0,"maxwind_kph":9.7,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":29,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"07:00
        AM","sunset":"04:47 PM","moonrise":"02:11 AM","moonset":"12:38 PM","moon_phase":"Waning
        Crescent","moon_illumination":32},"hour":[{"time_epoch":1704528000,"time":"2024-01-06
        00:00","temp_c":4.3,"temp_f":39.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":50,"wind_dir":"NE","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":30,"cloud":0,"feelslike_c":2.7,"feelslike_f":36.9,"windchill_c":2.7,"windchill_f":36.9,"heatindex_c":4.3,"heatindex_f":39.7,"dewpoint_c":-11.8,"dewpoint_f":10.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.6,"uv":1.0},{"time_epoch":1704531600,"time":"2024-01-06
        01:00","temp_c":3.7,"temp_f":38.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":45,"wind_dir":"NE","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":31,"cloud":0,"feelslike_c":2.2,"feelslike_f":35.9,"windchill_c":2.2,"windchill_f":35.9,"heatindex_c":3.7,"heatindex_f":38.6,"dew[...]
