---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-08&key=<WEATHER_API_KEY>&q=36.53,-116.93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999915'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/09/2024 01:10:51
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a4371892bdc895d002d931bec3b53db2
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beatty Junction","region":"California","country":"United
        States of America","lat":36.53,"lon":-116.93,"tz_id":"America/Los_Angeles","localtime_epoch":1704762617,"localtime":"2024-01-08
        17:10"},"forecast":{"forecastday":[{"date":"2024-01-08","date_epoch":1704672000,"day":{"maxtemp_c":13.1,"maxtemp_f":55.6,"mintemp_c":-0.9,"mintemp_f":30.3,"avgtemp_c":5.4,"avgtemp_f":41.8,"maxwind_mph":8.1,"maxwind_kph":13.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":25,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"07:00
        AM","sunset":"04:49 PM","moonrise":"04:25 AM","moonset":"01:57 PM","moon_phase":"Waning
        Crescent","moon_illumination":15},"hour":[{"time_epoch":1704700800,"time":"2024-01-08
        00:00","temp_c":3.1,"temp_f":37.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":326,"wind_dir":"NNW","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":32,"cloud":2,"feelslike_c":-0.2,"feelslike_f":31.6,"windchill_c":-0.2,"windchill_f":31.6,"heatindex_c":3.1,"heatindex_f":37.6,"dewpoint_c":-11.8,"dewpoint_f":10.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":16.8,"gust_kph":27.1,"uv":1.0},{"time_epoch":1704704400,"time":"2024-01-08
        01:00","temp_c":2.1,"temp_f":35.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":323,"wind_dir":"NW","pressure_mb":1018.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":33,"cloud":0,"feelslike_c":-1.4,"feelslike_f":29.5,"windchill_c":-1.4,"windchill_f":29.5,"heatindex_c":2.1,"heatindex_f":35.9,[...]
