---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-09&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999845'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/10/2024 06:53:46
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3568ff2d3922778a18ce420e57014b2e
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704869592,"localtime":"2024-01-10
        2:53"},"forecast":{"forecastday":[{"date":"2024-01-09","date_epoch":1704758400,"day":{"maxtemp_c":31.7,"maxtemp_f":89.1,"mintemp_c":20.3,"mintemp_f":68.6,"avgtemp_c":25.2,"avgtemp_f":77.3,"maxwind_mph":6.9,"maxwind_kph":11.2,"totalprecip_mm":3.29,"totalprecip_in":0.13,"totalsnow_cm":0.0,"avgvis_km":7.4,"avgvis_miles":4.0,"avghumidity":80,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Light
        rain shower","icon":"//cdn.weatherapi.com/weather/64x64/day/353.png","code":1240},"uv":10.0},"astro":{"sunrise":"05:14
        AM","sunset":"06:14 PM","moonrise":"03:03 AM","moonset":"04:43 PM","moon_phase":"Waning
        Crescent","moon_illumination":8},"hour":[{"time_epoch":1704772800,"time":"2024-01-09
        00:00","temp_c":20.8,"temp_f":69.5,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":22,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":94,"cloud":48,"feelslike_c":20.8,"feelslike_f":69.5,"windchill_c":20.8,"windchill_f":69.5,"heatindex_c":20.8,"heatindex_f":69.5,"dewpoint_c":19.9,"dewpoint_f":67.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":9.4,"gust_kph":15.1,"uv":1.0},{"time_epoch":1704776400,"time":"2024-01-09
        01:00","temp_c":20.8,"temp_f":69.5,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":33,"wind_dir":"NNE","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":94,"cloud":46,"feelslike_c":20.8,"feelslike_f":69.5,"windchill_c":20.8,"windchill_f":69.5,"heatindex_c":20.8,"[...]
