---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-05&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999964'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/06/2024 22:57:15
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 21ce9cb8b6b02af842699d1e6be28127
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Alto Coite","region":"Mato Grosso","country":"Brazil","lat":-15.74,"lon":-54.34,"tz_id":"America/Cuiaba","localtime_epoch":1704581804,"localtime":"2024-01-06
        18:56"},"forecast":{"forecastday":[{"date":"2024-01-05","date_epoch":1704412800,"day":{"maxtemp_c":28.2,"maxtemp_f":82.7,"mintemp_c":20.8,"mintemp_f":69.4,"avgtemp_c":24.2,"avgtemp_f":75.6,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":10.17,"totalprecip_in":0.4,"totalsnow_cm":0.0,"avgvis_km":6.8,"avgvis_miles":4.0,"avghumidity":88,"daily_will_it_rain":1,"daily_chance_of_rain":100,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Light
        rain shower","icon":"//cdn.weatherapi.com/weather/64x64/day/353.png","code":1240},"uv":9.0},"astro":{"sunrise":"05:12
        AM","sunset":"06:13 PM","moonrise":"12:03 AM","moonset":"12:51 PM","moon_phase":"Waning
        Crescent","moon_illumination":42},"hour":[{"time_epoch":1704427200,"time":"2024-01-05
        00:00","temp_c":22.6,"temp_f":72.7,"is_day":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":37,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.61,"precip_in":0.02,"snow_cm":0.0,"humidity":93,"cloud":89,"feelslike_c":25.0,"feelslike_f":76.9,"windchill_c":22.6,"windchill_f":72.7,"heatindex_c":25.0,"heatindex_f":76.9,"dewpoint_c":21.5,"dewpoint_f":70.6,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":3.8,"gust_kph":6.2,"uv":1.0},{"time_epoch":1704430800,"time":"2024-01-05
        01:00","temp_c":22.2,"temp_f":72.0,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":24,"wind_dir":"NNE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.97,"precip_in":0.04,"snow_cm":0.0,"humidity":95,"cloud":52,"feelslike_c":24.7,"feelslike_f":76.5,"windchill_c":22.2,"windchill_f":72.0,"heatindex_c":2[...]
