<h1> Updated User Profile </h1>
<p><%="Hi #{@username}, your Weather Together User Profile has been updated!" %></p>
<br>
<%= link_to 'Weather Together App', "https://weather-together.github.io/weather1-fe/#" %>
