<h1> Updated User Profile </h1>
<p><%="Hi #{@username}, your WeatherTogether User Profile has been updated!" %></p>
<br>
<%= link_to 'WeatherTogether App', "https://weather-together.github.io/weather1-fe/" %>
