<h1>Verify your account</h1>
<p>Click the following link to verify your account:</p>
<%= link_to 'Verify Account', "https://weather-together.onrender.com/verify_account/#{@user.id}?token=#{@verification_token}" %>