<h1>Verify your account</h1>
<p>Click the following link to verify your account:</p>
<%= link_to 'Verify Account', "https://weather-together.github.io/weather1-fe/#/#{@user.id}/#{@verification_token}" %>