<h1>Verify your account</h1>
<p>Click the following link to verify your account:</p>
<%= link_to 'Verify Account', "https://weather-together-be.onrender.com/api/v0/users/#{@user.id}?token=#{@verification_token}" %>