---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=62.04,129.74
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/11/2024 00:57:18
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - '029cb04998f7db8dfcfd686bb6b230ad'
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Yakutsk","region":"Sakha","country":"Russia","lat":62.04,"lon":129.74,"tz_id":"Asia/Yakutsk","localtime_epoch":1704934604,"localtime":"2024-01-11
        9:56"},"forecast":{"forecastday":[{"date":"2024-01-10","date_epoch":1704844800,"day":{"maxtemp_c":-43.2,"maxtemp_f":-45.8,"mintemp_c":-50.2,"mintemp_f":-58.3,"avgtemp_c":-47.8,"avgtemp_f":-54.0,"maxwind_mph":4.3,"maxwind_kph":6.8,"totalprecip_mm":0.07,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":0.0,"avgvis_miles":0.0,"avghumidity":100,"daily_will_it_rain":0,"daily_chance_of_rain":45,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/day/260.png","code":1147},"uv":1.0},"astro":{"sunrise":"09:36
        AM","sunset":"03:21 PM","moonrise":"12:00 AM","moonset":"12:00 AM","moon_phase":"Waning
        Crescent","moon_illumination":3},"hour":[{"time_epoch":1704812400,"time":"2024-01-10
        00:00","temp_c":-49.5,"temp_f":-57.1,"is_day":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/night/260.png","code":1147},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":15,"wind_dir":"NNE","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":100,"cloud":100,"feelslike_c":-56.3,"feelslike_f":-69.3,"windchill_c":-56.3,"windchill_f":-69.3,"heatindex_c":-49.5,"heatindex_f":-57.1,"dewpoint_c":-49.5,"dewpoint_f":-57.2,"will_it_rain":0,"chance_of_rain":45,"will_it_snow":0,"chance_of_snow":0,"vis_km":0.0,"vis_miles":0.0,"gust_mph":5.2,"gust_kph":8.3,"uv":1.0},{"time_epoch":1704816000,"time":"2024-01-10
        01:00","temp_c":-49.9,"temp_f":-57.8,"is_day":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/night/260.png","code":1147},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":15,"wind_dir":"NNE","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":100,"cloud":100,"feelslike_c":-56.7,"feelslike_f":-70.0,"windchill_c":-56.7,"windchill_f":-70.0,"heatindex_c":[...]
[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=22.10,-159.53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
     [...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=-6.32,143.96
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
      [...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-10&key=<WEATHER_API_KEY>&q=-15.74,-54.34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999751'
     [...]
