<!DOCTYPE html>
<html>
<head>
  <title>Competitive Game Score Update for <%= @round_start_date %> </title>
</head>
<body>
  <h2>Competitive Game Score Update</h2>
  <p>Hello <%= @username %>,</p>
  <p>Your score for the competitive game round starting on <%= @round_start_date %> is <%= @score %>.</p>
  <p>Log in to view your rank and view the leaderboard.</p>
  <p>Thank you for participating!</p>
  <p>From the WeatherTogether team<p>
</body>
</html>
