<h1><%= @admin %> has invited you to play Weather Together!</h1>
<p>Click the following link to see how to play:</p>
<%= link_to 'Weather Together', "https://weather-together.onrender.com" %>

<p>After you've created an account, ask <%= @admin %> to re-invite you to their custom game</p>