---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-09&key=<WEATHER_API_KEY>&q=62.04,129.74
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999845'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/10/2024 06:53:20
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c0a8976181a99576cf5094f143f7d538
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Yakutsk","region":"Sakha","country":"Russia","lat":62.04,"lon":129.74,"tz_id":"Asia/Yakutsk","localtime_epoch":1704869566,"localtime":"2024-01-10
        15:52"},"forecast":{"forecastday":[{"date":"2024-01-09","date_epoch":1704758400,"day":{"maxtemp_c":-41.0,"maxtemp_f":-41.8,"mintemp_c":-48.8,"mintemp_f":-55.8,"avgtemp_c":-46.2,"avgtemp_f":-51.2,"maxwind_mph":2.2,"maxwind_kph":3.6,"totalprecip_mm":0.05,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":0.0,"avgvis_miles":0.0,"avghumidity":100,"daily_will_it_rain":0,"daily_chance_of_rain":45,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/day/260.png","code":1147},"uv":1.0},"astro":{"sunrise":"09:37
        AM","sunset":"03:19 PM","moonrise":"08:49 AM","moonset":"11:13 AM","moon_phase":"Waning
        Crescent","moon_illumination":8},"hour":[{"time_epoch":1704726000,"time":"2024-01-09
        00:00","temp_c":-47.9,"temp_f":-54.2,"is_day":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/night/260.png","code":1147},"wind_mph":1.6,"wind_kph":2.5,"wind_degree":286,"wind_dir":"WNW","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":100,"cloud":100,"feelslike_c":-47.9,"feelslike_f":-54.2,"windchill_c":-47.9,"windchill_f":-54.2,"heatindex_c":-47.9,"heatindex_f":-54.2,"dewpoint_c":-47.9,"dewpoint_f":-54.2,"will_it_rain":0,"chance_of_rain":45,"will_it_snow":0,"chance_of_snow":0,"vis_km":0.0,"vis_miles":0.0,"gust_mph":3.3,"gust_kph":5.3,"uv":1.0},{"time_epoch":1704729600,"time":"2024-01-09
        01:00","temp_c":-47.7,"temp_f":-53.9,"is_day":0,"condition":{"text":"Freezing
        fog","icon":"//cdn.weatherapi.com/weather/64x64/night/260.png","code":1147},"wind_mph":1.6,"wind_kph":2.5,"wind_degree":282,"wind_dir":"WNW","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":100,"cloud":100,"feelslike_c":-47.7,"feelslike_f":-53.9,"windchill_c":-47.7,"windchill_f":-53.9,"heatindex_c"[...]
[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-09&key=<WEATHER_API_KEY>&q=22.10,-159.53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999845'
     [...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/history.json?dt=2024-01-09&key=<WEATHER_API_KEY>&q=-6.32,143.96
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999845'
      [...]
